{% if env == 'production' -%}
rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.xml$ "/index.php?xml_sitemap=params=$2" last;
rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.xml\.gz$ "/index.php?xml_sitemap=params=$2;zip=true" last;
rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.html$ "/index.php?xml_sitemap=params=$2;html=true" last;
rewrite ^/sitemap(-+([a-zA-Z0-9_-]+))?\.html.gz$ "/index.php?xml_sitemap=params=$2;html=true;zip=true" last;
rewrite ^/cmsfiles1/2015-02-12-12-37-Citylogo.jpg$ "/app/uploads/2019/08/2015-02-12-12-37-Citylogo.jpg" redirect;
rewrite ^/cmsfiles1/2015-02-12-12-38-Discoverlogo.png$ "/app/uploads/2019/10/2015-02-12-12-38-Discoverlogo.png" redirect;
{% endif -%}
