// Colours
$black: #000;
$grey: #333;
$grey-md: #666;
$grey-lt: #cfd0d3;

$blue: #466af7;
$blue-md: #213367;
$blue-dk: #182754;

$yellow: #ffde00;
$yellow-lt: #fff5b2;

$smoke: #f4f6fb;
$off-white: #fefeff;
$white: #fff;

$alert: #b11e3a;
