// Colours
$black: #000;
$grey: #333;

$blue: #4e78f3;
$blue-md: #213367;
$blue-dk: #182754;

$yellow: #ffde00;
$yellow-lt: #fff5b2;

$smoke: #f4f6fb;
$off-white: #fefeff;
$white: #fff;

$alert: #b11e3a;

.banner {
}

.recent-notifications {
  background-color: $yellow-lt;
  height: 50px;
}
