.contact-form_wrapper {
	margin: 0 0 60px !important;
	//max-width: 500px;
	
	textarea {
		padding: 10px !important;
		border: 1px solid $black !important;
		background-color: transparent !important;
		height: 100px !important;
		
		color: $white !important;
		font-family: $font-primary;
		font-weight: 400;
		font-style: normal;
		font-size: 14px !important;
		line-height: 18px !important;
		
		&::placeholder {
			color: rgba($black, .5) !important;
		}
	}
	
	input {
		padding: 10px !important;
		width: 100% !important;
		border: 1px solid $black !important;
		background-color: transparent !important;
		
		color: $black !important;
		font-family: $font-primary;
		font-weight: 400;
		font-style: normal;
		font-size: 14px !important;
		line-height: 18px !important;
		
		&::placeholder {
			color: rgba($black, .5) !important;
		}
	}
}

.contact-form {
	position: relative;
	
	input, textarea {
	  -webkit-appearance: none;
	  -webkit-border-radius: 0;
	  box-shadow: none !important;
	}
	
	.gfield_label {
		margin: 0 0 10px !important;
		padding: 0 !important;
		font-family: $font-primary;
		font-weight: 400;
		font-style: normal;
		font-size: 14px !important;
		line-height: 14px !important;
		text-transform: uppercase;
		color: rgba($black, .8) !important;
	}
	
	.ginput_complex label {
		margin: 8px 0 0 0 !important;
		padding: 0 !important;
		color: rgba($black, 0.8) !important;
		font-family: $font-primary;
		font-weight: 400;
		font-style: normal;
		font-size: 12px !important;
		line-height: 12px !important;
		text-transform: uppercase;
	}
	
	.gfield {
		margin: 0 0 20px !important;
		padding: 0 !important;
	}
	
	.gfield_required {
		position: relative;
		top: -2px;
		color: rgba($black, .8) !important;
		font-size: 10px !important;
		line-height: 10px !important;
	}
	
	.ginput_container {
		margin: 0 !important;
	}
	
	.gform_footer {
		margin: 0 !important;
		padding: 0 !important;
		
		input[type=submit] {
			@include default-transition;
			margin: 10px 0 0 !important;
			background-color: $blue !important;
			border: 0 !important;
			width: auto !important;
			height: 40px;
			padding: 0 30px !important;
			
			color: $white !important;
			font-family: $font-primary;
			font-weight: 600;
			font-style: normal;
			font-size: 14px !important;
			line-height: 14px !important;
			letter-spacing: 1px !important;
			text-transform: uppercase;
			
			&:hover {
				background-color: darken($blue, 5%) !important;
			}
		}
	}
}
