// Typography
/////////////////////////////////

$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, Times, serif;

html,
body {
  @include font(16, 26);
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

p {
  @include font(16, 24);
  font-family: $font-primary;
  color: $grey;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 30px;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}

h2 {
  @include font(42, 50);
  font-family: $font-secondary;
  color: $grey;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

h3 {
  @include font(28, 34);
  font-family: $font-secondary;
  color: $grey;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

h4 {
  @include font(23, 28);
  font-family: $font-primary;
  color: $grey;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 10px;
}
