/* The font-size mixin */
/* ------------------------------------ */
.wp-block html,
.wp-block body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wp-block a {
  text-decoration: none;
  color: #4e78f3; }
  .wp-block a:hover {
    text-decoration: none; }

.wp-block p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 30px; }
  .wp-block p strong {
    font-weight: 600; }
  .wp-block p em {
    font-style: italic; }

.wp-block h1,
.wp-block h2 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.1904761905;
  letter-spacing: 0px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px; }

.wp-block h3 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.2142857143;
  letter-spacing: 0px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px; }

.wp-block h4 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.2173913043;
  letter-spacing: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 10px; }

.wp-block .wp-block-table {
  margin: 0 0 30px;
  width: 100%; }
  .wp-block .wp-block-table tr {
    background-color: rgba(78, 120, 243, 0.05); }
    .wp-block .wp-block-table tr:nth-child(odd) {
      background-color: rgba(78, 120, 243, 0.1); }
  .wp-block .wp-block-table td {
    border: 0;
    padding: 10px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: 300;
    font-style: normal; }

.wp-block ol,
.wp-block ul {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0 0 30px;
  padding: 0;
  counter-reset: item;
  font-weight: 300;
  font-style: normal;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333; }

.wp-block ul li {
  position: relative;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 12px; }
  .wp-block ul li::before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 10px;
    height: 1px;
    background-color: #333;
    content: ""; }

.wp-block ol li {
  position: relative;
  counter-increment: item;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 12px; }
  .wp-block ol li::before {
    position: absolute;
    top: 0;
    left: 0;
    content: counters(item, "") ".";
    color: #333; }

.wp-block .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #213367;
  border-bottom: 8px solid #ffde00;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  margin-bottom: 40px;
  padding: 200px 20px 40px;
  max-width: 100vw; }
  @media screen and (min-width: 850px) {
    .wp-block .banner {
      margin-bottom: 80px;
      padding: 130px 20px 80px;
      min-height: 400px; } }
  .wp-block .banner::before {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    width: 100%;
    height: 200px;
    content: ""; }
  .wp-block .banner::after {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    content: ""; }

.wp-block .home .banner {
  margin-bottom: 0; }
  @media screen and (min-width: 850px) {
    .wp-block .home .banner {
      min-height: 600px; } }

.wp-block .banner__header {
  position: relative;
  z-index: 1;
  text-align: center; }

.wp-block .banner__headline {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 0;
  font-family: "Playfair Display", Georgia, Times, serif;
  font-weight: 400;
  font-style: normal;
  color: #fff; }
  @media screen and (min-width: 850px) {
    .wp-block .banner__headline {
      font-size: 80px;
      font-size: 5rem;
      line-height: 1;
      letter-spacing: 0px; } }

.wp-block .banner__byline {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff; }
  @media screen and (min-width: 850px) {
    .wp-block .banner__byline {
      font-size: 44px;
      font-size: 2.75rem;
      line-height: 1;
      letter-spacing: 0px; } }

.wp-block .banner__cta {
  margin-top: 20px; }
  @media screen and (min-width: 850px) {
    .wp-block .banner__cta {
      margin-top: 60px; } }

.wp-block .btn {
  transition: all .25s ease 0s;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
  background-color: #4e78f3;
  border-radius: 5px;
  height: 40px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 300;
  font-style: normal; }
  @media screen and (min-width: 850px) {
    .wp-block .btn {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1;
      letter-spacing: 0px;
      padding: 0 30px;
      height: 50px; } }
  .wp-block .btn:hover {
    background-color: #3666f1; }
  .wp-block .btn:focus {
    background-color: #3666f1; }
  .wp-block .btn.btn--secondary {
    background-color: #4e78f3; }
    .wp-block .btn.btn--secondary:hover {
      background-color: #3666f1; }
    .wp-block .btn.btn--secondary:focus {
      background-color: #3666f1; }
  .wp-block .btn.btn--sm {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1;
    letter-spacing: 0px;
    height: 36px; }
    @media screen and (min-width: 850px) {
      .wp-block .btn.btn--sm {
        padding: 0 25px;
        height: 36px; } }
  .wp-block .btn.btn--outline {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0px;
    background-color: transparent;
    border: 1px solid #333;
    height: 32px;
    color: #333; }
    .wp-block .btn.btn--outline:hover {
      background-color: transparent;
      border: 1px solid #000;
      color: #000; }
    .wp-block .btn.btn--outline:focus {
      background-color: transparent;
      border: 1px solid #000;
      color: #000; }
  .wp-block .btn.btn--center {
    margin: 0 auto; }

.wp-block .post-card {
  background-color: #fff;
  border: 1px solid #f4f6fb;
  margin: 0 -21px 30px; }
  @media screen and (min-width: 600px) {
    .wp-block .post-card {
      margin: 0 0 40px; } }
  .wp-block .post-card.card--blue .card__main {
    border-top: 6px solid #4e78f3; }
  .wp-block .post-card.card--red .card__main {
    border-top: 6px solid #b11e3a; }
  .wp-block .post-card.card--yellow .card__main {
    border-top: 6px solid #ffde00; }

.wp-block .card__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120px; }

.wp-block .card__main {
  padding: 20px; }
  @media screen and (min-width: 850px) {
    .wp-block .card__main {
      padding: 30px; } }

.wp-block .card__headline {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: 0px;
  margin-bottom: 5px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  font-weight: 300;
  font-style: normal; }
  .wp-block .card__headline a {
    text-decoration: none;
    color: #333; }
    .wp-block .card__headline a:hover {
      text-decoration: none; }

.wp-block .card__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5714285714;
  letter-spacing: 0px;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;
  font-style: normal; }

.wp-block .card__cta {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  @media screen and (min-width: 850px) {
    .wp-block .card__cta {
      margin-top: 30px; } }

.wp-block .wp-block-column {
  margin: 0; }

.wp-block .news-card {
  background-color: #fff;
  border: 1px solid #f4f6fb;
  margin: 0 -21px 30px; }
  .wp-block .news-card.card--blue .news-card__main {
    border-top: 6px solid #4e78f3; }
  .wp-block .news-card.card--red .news-card__main {
    border-top: 6px solid #b11e3a; }
  .wp-block .news-card.card--yellow .news-card__main {
    border-top: 6px solid #ffde00; }
  @media screen and (min-width: 850px) {
    .wp-block .news-card {
      margin: 0 0 40px; } }

.wp-block .news-card__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120px; }

.wp-block .news-card__main {
  padding: 20px; }
  @media screen and (min-width: 850px) {
    .wp-block .news-card__main {
      padding: 30px; } }

.wp-block .news-card__headline {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0px;
  margin-bottom: 15px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  font-weight: 400;
  font-style: normal; }

.wp-block .news-card-list {
  margin: 0; }

.wp-block .news-card-list__item {
  margin: 0 0 25px;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  .wp-block .news-card-list__item::before {
    display: none; }
  .wp-block .news-card-list__item:last-child {
    margin: 0; }
  .wp-block .news-card-list__item h4 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.125;
    letter-spacing: 0px;
    margin-bottom: 5px;
    font-weight: 600; }
  .wp-block .news-card-list__item p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2857142857;
    letter-spacing: 0px;
    margin: 0; }
  .wp-block .news-card-list__item a {
    text-decoration: none;
    color: #4e78f3; }
    .wp-block .news-card-list__item a:hover {
      text-decoration: none; }

.wp-block .navigation-card {
  background-color: #fff;
  border: 1px solid #f4f6fb;
  margin: 0 -21px 30px; }
  .wp-block .navigation-card.card--blue .navigation-card__main {
    border-top: 6px solid #4e78f3; }
  .wp-block .navigation-card.card--red .navigation-card__main {
    border-top: 6px solid #b11e3a; }
  .wp-block .navigation-card.card--yellow .navigation-card__main {
    border-top: 6px solid #ffde00; }
  @media screen and (min-width: 850px) {
    .wp-block .navigation-card {
      margin: 0 0 40px; } }

.wp-block .navigation-card__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120px; }

.wp-block .navigation-card__main {
  padding: 20px; }
  @media screen and (min-width: 850px) {
    .wp-block .navigation-card__main {
      padding: 30px; } }

.wp-block .navigation-card__headline {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.3333333333;
  letter-spacing: 0px;
  margin-bottom: 15px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  font-weight: 400;
  font-style: normal; }

.wp-block .navigation-card__menu .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px 30px;
  margin: 0; }

.wp-block .navigation-card__menu .sub-menu {
  margin: 0; }

.wp-block .navigation-card__menu .menu-item {
  margin: 0;
  padding: 0;
  border-top: 1px solid #cfd0d3;
  padding-top: 10px; }
  .wp-block .navigation-card__menu .menu-item::before {
    display: none; }
  .wp-block .navigation-card__menu .menu-item a {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.2857142857;
    letter-spacing: 0px;
    margin: 0 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
    .wp-block .navigation-card__menu .menu-item a:hover {
      text-decoration: none; }

.wp-block .navigation-card__menu .sub-menu .menu-item {
  border: 0;
  padding: 0; }
  .wp-block .navigation-card__menu .sub-menu .menu-item a {
    color: #4e78f3;
    font-weight: 400; }

.banner h1 {
  margin: 0; }

.banner a {
  text-decoration: none; }

.banner a:active,
.banner a:hover {
  color: #fff; }

.card a {
  text-decoration: none; }

.card a:active,
.card a:hover {
  color: #fff; }

.news-card,
.navigation-card {
  margin: 0; }
  .news-card li,
  .navigation-card li {
    list-style: none; }

.recent-notifications {
  background-color: #fff5b2;
  margin-top: -80px;
  padding: 10px;
  font-family: "Playfair Display", Georgia, Times, serif;
  color: #333;
  text-align: center; }
  .recent-notifications p {
    margin: 0; }

.wp-block-columns {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(244, 246, 251, 0.3); }
  .wp-block-columns .editor-rich-text {
    background-color: #fff; }
