.btn {
  @include default-transition;
  @include font(18, 18);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 20px;
  background-color: $blue;
  border-radius: 5px;
  height: 40px;
  font-family: $font-primary;
  color: $white;
  font-weight: 300;
  font-style: normal;

  @media screen and (min-width: $bp-md) {
    @include font(18, 18);
    padding: 0 30px;
    height: 50px;
  }

  &:hover {
    background-color: darken($blue, 5%);
  }

  &:focus {
    background-color: darken($blue, 5%);
  }

  &.btn--secondary {
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 5%);
    }

    &:focus {
      background-color: darken($blue, 5%);
    }
  }

  &.btn--sm {
    @include font(15, 15);
    height: 36px;

    @media screen and (min-width: $bp-md) {
      padding: 0 25px;
      height: 36px;
    }
  }

  &.btn--outline {
    @include vertical-align();
    @include font(14, 14);
    // font-weight: 400;
    background-color: transparent;
    border: 1px solid $grey;
    height: 32px;
    color: $grey;

    &:hover {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }

    &:focus {
      background-color: transparent;
      border: 1px solid $black;
      color: $black;
    }
  }

  &.btn--center {
    margin: 0 auto;
  }
}
