.wp-block-columns {
  @media (min-width: 600px) {
    flex-wrap: nowrap;
  }
}

.wp-block-column {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    &:not(:first-child) {
      margin-left: 25px;
    }

    &:nth-child(odd) {
      margin-left: 25px;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
