.news-card {
  background-color: $white;
  border: 1px solid $smoke;
  margin: 0 -21px 30px;
  height: 100%;

  @media screen and (min-width: 600px) {
    margin: 0 0 40px;
  }

  &.card--blue {
    .news-card__main {
      border-top: 6px solid $blue;
    }
  }

  &.card--red {
    .news-card__main {
      border-top: 6px solid $alert;
    }
  }

  &.card--yellow {
    .news-card__main {
      border-top: 6px solid $yellow;
    }
  }

  &.alignwide {
    @media screen and (min-width: $bp-md) {
      margin-left: calc(25% - 25vw);
      margin-right: calc(25% - 25vw);
      width: auto;
      max-width: 1000%;
    }
  }
}

.news-card__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 120px;
}

.news-card__main {
  padding: 20px;

  @media screen and (min-width: $bp-md) {
    padding: 30px;
  }
}

.news-card__headline {
  @include font(24, 32);
  margin-bottom: 15px;
  font-family: $font-secondary;
  color: $grey;
  font-weight: 400;
  font-style: normal;
}

.news-card-list {
  margin: 0;
}

.news-card-list__item {
  margin: 0 0 25px;
  padding: 0;
  font-family: $font-primary;

  &::before {
    display: none;
  }

  &:last-child {
    margin: 0;
  }

  p {
    @include font(14, 18);
    margin: 0;
  }

  a {
    @include font(16, 18);
    margin-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
    color: $blue;

    &:hover {
      text-decoration: none;
    }
  }
}
