.recent-notifications {
  position: relative;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  margin-bottom: 30px;
  max-width: 100vw;
  overflow-x: scroll;

  @media screen and (min-width: $bp-md) {
    margin-bottom: 80px;
    overflow: auto;
  }
}

.recent-notification-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 300%;

  @media screen and (min-width: $bp-md) {
    width: 100%;
  }
}

.recent-notification-list--top {
  background-color: $yellow;

  .recent-notification-list {
    background-color: $yellow;
  }
}

.recent-notification-list--bottom {
  background-color: $yellow-lt;

  .recent-notification-list {
    background-color: $yellow-lt;
  }
}

.recent-notification-list__item {
  display: flex;
  position: relative;
  padding: 10px 10px 10px 20px;
  width: 100%;

  &:first-child {
    justify-content: flex-start;
    width: 150px;
    flex-shrink: 0;
    padding: 10px 0 0 0;
  }

  &:nth-child(3),
  &:nth-child(4) {
    box-shadow: inset 8px 0 10px -6px rgba($black, 0.15);
  }

  &:last-child {
    justify-content: flex-end;
    width: 150px;
    flex-shrink: 0;
    padding: 10px 0 0 0;
  }
}

.recent-notification-list--collapse {
  display: none;

  @media screen and (min-width: $bp-md) {
    display: flex;
  }
}

.recent-notification__icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  svg {
    fill: $grey;
  }
}

.recent-notification__headline {
  @include font(14, 18);
  margin-bottom: 2px;
  font-family: $font-primary;
  font-weight: 600;
  font-style: normal;
  color: $grey;
}

.recent-notification__date {
  @include font(14, 20);
  margin-bottom: 0;
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  color: $grey;
}

.recent-notification__text {
  @include font(14, 20);
  margin-bottom: 0;
  padding-left: 32px;
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  color: $grey;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
