.shortcut-menu {
    background-color: $white;
    border: 1px solid $smoke;
    height: 100%;
    margin: 25px 25px;

    &.alignwide {
      @media screen and (min-width: $bp-md) {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
        border-top: 6px solid;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-image: linear-gradient(to right, blue 33.33%, $alert 33.33%, $alert 66.66%, $yellow 66.66%, $yellow 100%, $blue 100%) 3;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      text-align: justify;
      justify-content: center;
      
      li {
        display: inline-block;
        align-items: center;
        padding: 0px 12.5px 12.5px 12.5px;
        text-align: center;
        margin-block: auto;
        max-width: 150px;
        word-wrap: break-word;
        

        &::before {
          position: relative;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
      
    }
    .caption{
      display: block;
    }
}

    

   
  