@import "mixins/font-size";
@import "mixins/transitions";
@import "variables/breakpoints";
@import "variables/colours";

$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, Times, serif;

.wp-block {
  @import "typography";
  @import "accordion";
  @import "banner";
  @import "btn";
  @import "card";
  @import "news-card";
  @import "navigation-card";
  @import "recent-notifications";

  .accordion__content {
    display: block;
  }

  .recent-notifications {
    position: relative;
    background-color: $yellow-lt;
    margin-top: -80px;
    padding: 10px;
    font-family: $font-secondary;
    color: $grey;
    text-align: center;
    margin-left: 0;
    margin-right: 0;

    &::after {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    p {
      margin: 0;
    }
  }

  .banner {
    h1 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    a:active,
    a:hover {
      color: $white;
    }
  }

  .post-card {
    pointer-events: none;
  }

  .card {
    a {
      text-decoration: none;
    }
    a:active,
    a:hover {
      color: $white;
    }
  }

  .news-card,
  .navigation-card {
    margin: 0;

    li {
      list-style: none;
    }
  }

  .wp-block-columns {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba($smoke, 0.3);

    .editor-rich-text {
      background-color: $white;
    }
  }
}
