@import "mixins/font-size";
@import "mixins/transitions";
@import "variables/breakpoints";
@import "variables/colours";

$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, Times, serif;

.wp-block {
  @import "typography";
  @import "banner";
  @import "btn";
  @import "card";
  @import "news-card";
  @import "navigation-card";
}

.banner {
  h1 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  a:active,
  a:hover {
    color: $white;
  }
}

.card {
  a {
    text-decoration: none;
  }
  a:active,
  a:hover {
    color: $white;
  }
}

.news-card,
.navigation-card {
  margin: 0;

  li {
    list-style: none;
  }
}

.recent-notifications {
  background-color: $yellow-lt;
  margin-top: -80px;
  padding: 10px;
  font-family: $font-secondary;
  color: $grey;
  text-align: center;

  p {
    margin: 0;
  }
}

.wp-block-columns {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba($smoke, 0.3);

  .editor-rich-text {
    background-color: $white;
  }
}
