.content {
	
	h1, h2, h3, h4 {
		font-family: $font-primary;
		font-weight: 600;
		font-style: normal;
		color: $black;
	}
	
	h1, h2 {
		@include font(22, 30, 1px);
		margin: 0 0 40px;
		font-weight: 700;
		
		@media screen and (min-width: $bp-md) {
			@include font(24, 32, 1px);
		}
	}
	
	h3 {
		@include font(18, 24);
		margin: 0 0 30px;
		font-weight: 700;
		
		@media screen and (min-width: $bp-md) {
			@include font(18, 24);
		}
	}
		
	blockquote {
		max-width: 600px;
		margin: 0 0 60px;
		
		p {
			@include font(24, 36);
			margin: 0;
			width: 100%;
			font-family: $font-primary;
			font-style: normal;
			font-weight: 400;
			color: $black;
		}
	}
	
	hr {
		display: block;
	    height: 1px;
	    border: 0;
	    border-top: 1px solid rgba($black, .2);
	    margin: 60px 0;
	    padding: 0;
	}
		
	p {
		@include font(18, 26);
		font-family: $font-primary;
		color: $black;
		font-weight: 400;
		font-style: normal;
		margin: 0 0 40px;
		
		strong {
			font-weight: 700;
		}
		
		em {
			font-style: italic;
		}
	}
	
	ul,
	ol {
		@include font(18, 26);
		margin-bottom: 40px;
		counter-reset: item;
		font-weight: 400;
		font-family: $font-primary;
	}
	
	ol,
	ul {
		padding: 0;
	}
	
	ul li {
		position: relative;
		list-style: none;
		padding-left: 25px;
		margin-bottom: 15px;
	
		&::before {
		  position: absolute;
		  top: 14px;
		  left: 0;
		  width: 10px;
		  height: 1px;
		  background-color: $black;
		  content: '';
		}
	}
	
	ol li {
		position: relative;
		counter-increment: item;
		list-style: none;
		padding-left: 25px;
		margin-bottom: 15px;
	
		&::before {
		  position: absolute;
		  top: 0;
		  left: 0;
		  content: counters(item, '') '.';
		  color: $black;
		}
	}
	
	p,
	li,
	h2,
	h3,
	h4,
	h5 {
		a {
			@include default-transition;
			text-decoration: underline;
		}
		
		a:link,
		a:visited {
			color: $black;
		}
		
		a:hover {
			text-decoration: underline;
			color: $blue;
		}
	}
	
	img {
		display: block;
		margin: 0 0 60px;
	}
}