.header {
  position: relative;
}

.header__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;

  @media screen and (min-width: $bp-md) {
    align-items: flex-end;
    padding: 20px 60px;
  }
}
