.recent-notifications {
  position: relative;
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  margin-bottom: 80px;
  max-width: 100vw;

  @media screen and (min-width: $bp-md) {
  }
}

.recent-notification-list {
  display: grid;
  grid-template-columns: 130px 2fr 2fr 2fr 130px;
  gap: 40px;
}

.recent-notification-list--top {
  background-color: $yellow;
  padding: 5px 0 10px;
}

.recent-notification-list--bottom {
  background-color: $yellow-lt;
  padding: 10px 0;
}

.recent-notification-list__item {
  display: flex;
  background-color: aqua;
}

.recent-notification__icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  svg {
    fill: $grey;
  }
}

.recent-notification__header {
  background-color: blue;
}

.recent-notification__headline {
  @include font(14, 18);
  margin-bottom: 2px;
  font-family: $font-primary;
  font-weight: 600;
  font-style: normal;
  color: $grey;
}

.recent-notification__date {
  @include font(14, 20);
  margin-bottom: 0;
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  color: $grey;
}

.recent-notification__text {
  @include font(14, 20);
  margin-bottom: 0;
  padding-left: 32px;
  font-family: $font-primary;
  font-weight: 300;
  font-style: normal;
  color: $grey;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
