.gsc-webResult .gsc-result {
  margin: 0 0 20px !important;
  padding: 20px !important;
  border: 1px solid rgba($smoke, 1) !important;
  background-color: $white !important;

  @media screen and (min-width: $bp-md) {
    margin: 0 0 25px !important;
    padding: 30px !important;
  }
}

.gsc-thumbnail-inside {
  padding: 0 !important;
}

.gs-title,
.gs-title b {
  margin-bottom: 0 !important;
  height: auto !important;
  font-size: 24px !important;
  line-height: 32px !important;
  font-family: "Playfair Display", Georgia, Times, serif;
  font-weight: 400 !important;
  font-style: normal !important;
  color: $grey !important;
  text-decoration: none !important;
}

.gs-title b {
  color: $blue !important;
}

.gsc-url-top {
  padding: 0 !important;
}
.gs-visibleUrl {
  color: $alert !important;
}

.gs-webResult .gs-snippet {
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  color: $grey !important;

  b {
    color: $black !important;
    font-weight: 600 !important;
  }
}

.gcsc-branding {
  justify-content: center;
}

.gsc-branding-text:first-child,
.gcsc-branding-text:first-child {
  flex-grow: 0 !important;
}

.gsc-branding-text,
.gcsc-branding-text {
  font-size: 14px !important;
  color: rgba($grey, 1) !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.gsc-cursor {
  display: flex !important;
  justify-content: center;
  margin: 80px 0 40px !important;
}

.gsc-cursor-page {
  transition: all 0.3s;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid $blue !important;
  width: 40px !important;
  height: 40px !important;
  background-color: $blue !important;
  color: $white !important;
  font-size: 16px !important;
  line-height: 16px !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
  background-color: darken($blue, 5%) !important;
  text-decoration: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover {
  border: 1px solid $yellow !important;
  background-color: $yellow-lt !important;
  color: $grey !important;
}

.gsc-above-wrapper-area {
  padding: 0 !important;
  border: 0 !important;
}
