.social-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-links__icon {
  @include default-transition;
  margin: 0 8px;
  opacity: 1;

  @media screen and (min-width: $bp-md) {
    margin: 0 16px 0 0;
  }

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 32px;
  }
}
