// Typography
/////////////////////////////////

$font-primary: "Open Sans", Helvetica, Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, Times, serif;

html,
body {
  @include font(16, 26);
  font-family: $font-primary;
  font-weight: 400;
  font-style: normal;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

p {
  @include font(16, 24);
  font-family: $font-primary;
  color: $grey;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 30px;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }
}

h1,
h2 {
  @include font(42, 50);
  font-family: $font-secondary;
  color: $grey;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

h3 {
  @include font(28, 34);
  font-family: $font-secondary;
  color: $grey;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
}

h4 {
  @include font(23, 28);
  font-family: $font-primary;
  color: $grey;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 10px;
}

.wp-block-table {
  margin: 0 0 30px;
  width: 100%;

  tr {
    background-color: rgba($blue, 0.05);

    &:nth-child(odd) {
      background-color: rgba($blue, 0.1);
    }
  }

  td {
    border: 0;
    padding: 10px;
    @include font(16, 24);
    font-family: $font-primary;
    color: $grey;
    font-weight: 300;
    font-style: normal;
  }
}

ol,
ul {
  @include font(16, 24);
  margin: 0 0 30px;
  padding: 0;
  counter-reset: item;
  font-weight: 300;
  font-style: normal;
  font-family: $font-primary;
  color: $grey;
}

ul li {
  position: relative;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    top: 12px;
    left: 0;
    width: 10px;
    height: 1px;
    background-color: $grey;
    content: "";
  }
}

ol li {
  position: relative;
  counter-increment: item;
  list-style: none;
  padding-left: 25px;
  margin-bottom: 12px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: counters(item, "") ".";
    color: $grey;
  }
}
